.pic {
   margin-left: -125px;
}

.search {
   margin: 20px auto;
}
.btnn {
   width: 100px;
   border-radius: 10px;
}

.row {
   margin-left: 125px;
}
.box {
   background-color: #17a2b8;
   width: 600px;
   height: 430px;
   color: aliceblue;
   text-align: center;
   position: relative;
   border-radius: 25px;
    left: 250px;
}
.btn {
   position: absolute;
   background-color: white;
   color: black;
   margin-bottom: 5px;
   bottom: 0;
   right: 75px;
   width: 100px;
}

/*  Start Footer */
h5 {
   right: 20px;
   position: relative;
}
.about{
   border-radius: 15px;
}
footer {
   text-align: center;
   background-color: white;
   padding: 20px;
}
.foott1, .foott2 {
   list-style: none;
}
/*  End Footer */