.card {
   border-color: transparent;
}
.alert {
   background-color: #138496;
   color: white;
   border-radius: 15px;
}
.button1 {
   background-color: #138496 !important;
}
h5 {
   right: 20px;
   position: relative;
}
.about{
   border-radius: 15px;
}
footer {
   text-align: center;
   background-color: white;
   padding: 20px;
}
.foott1, .foott2 {
   list-style: none;
}