{% extends 'base copy.html' %}
{% load static %}
{% block التعديل_والحذف_للأقسام %}
<link rel="stylesheet" href="{% static 'التعديل والحذف للأقسام.css'%}">
<link rel="stylesheet" href="{% static 'footer.css'%}">
{% endblock  %}
{% block content %}



<title>التعديل والحذف للأقسام</title>
</head>
<body style="font-family: cairo;">


<section
      style="
        padding: 50px;
        margin-top: 50px;
        left: 20px;
        display: flex;
        justify-content: space-between;
      "
    >
    {% for department in departmentse %}

      <div class="card">
        <img  src="{{ department.imag.url }}">
        <h3>{{ department.dep_adress }}</h3>
        <div class="card-body">
          <a class=" button1 btn btn-primary"href="{% url 'departments:update_department' department.id %}">تعديل</a>
          <a class="btn btn-info" style="margin-left: 100px" href="{% url 'departments:delete_department' department.id %}">حذف</a>
        </div>
      </div>
      {% endfor %}

    </section>


<!-- بدايه الفوتر -->
<footer >
  <div class="container p-4 bg-info" style="border-radius: 20px;">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0" dir="rtl">
        <h5 class="" style="color:white;"> توعيات </h5>
        <ul class="foott1" style="color:white;">
          <li><a href="https://www.egypt.gov.eg/services/listServicesCategory.aspx?ID=1296&section=serviceproviders"
              style="color:rgb(226, 240, 245);">وزاره الصحه</a></li>
          <li><a
              href="https://www.who.int/ar/news-room/questions-and-answers/item/vaccines-and-immunization-what-is-vaccination"
              style="color:rgb(226, 240, 245);">التطعيمات</a></li>
          <li><a href="https://www.moh.gov.sa/Support/FAQ/Pages/default.aspx"
              style="color:rgb(226, 240, 245);">الاساله الشائعه</a></li>
          <li><a href="https://www.unicef.org/egypt/ar/stories/national-immunization-campaign-against-polio"
              style="color:rgb(226, 240, 245);">الحملات القوميه ضد شلل الاطفال</a></li>
          <li><a href="" style="color:rgb(226, 240, 245);">فيس بوك</a></li>
          <li><a
              href="https://www.google.com/maps/place/%D9%85%D8%B1%D9%83%D8%B2+%D8%A7%D8%B3%D8%B1%D9%87+%D8%B7%D8%A8+%D8%A7%D9%88%D9%8A%D8%B4+%D8%A7%D9%84%D8%AD%D8%AC%D8%B1%E2%80%AD/@31.010662,31.3197579,15z/data=!4m5!3m4!1s0x0:0x2998f7bdd9e7b772!8m2!3d31.0106514!4d31.3197479"
              style="color:rgb(226, 240, 245);">الموقع </a></li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0" dir="rtl">
        <h5 class="" style="color:rgb(226, 240, 245);">نصائح </h5>
        <ul class="foott2" style="color:rgb(226, 240, 245);">
          <li><a href="https://egcovac.mohp.gov.eg/#/home" style="color:rgb(226, 240, 245);">وزاره الصحه لتلقي لقاح
              فيروس كورونا</a></li>
          <li> <a href="https://www.mayoclinic.org/ar/diseases-conditions/hepatitis-b/symptoms-causes/syc-20366802"
              style="color:rgb(226, 240, 245);">الالتهاب الكبدي</a></li>
          <li><a
              href="https://www.moh.gov.sa/HealthAwareness/EducationalContent/Diseases/Infectious/Pages/default.aspx"
              style="color:rgb(226, 240, 245);">الامراض المعديه</a></li>
          <li><a
              href="https://together.stjude.org/ar-sa/care-support/immunity-illness-infection/preventing-infection.html"
              style="color:rgb(226, 240, 245);">الوقايه من العدوي</a></li>
          <li><a href="https://www.moh.gov.bh/Services/EnvironmentalHealth" style="color:rgb(226, 240, 245);">صحه
              البيئه</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center container p-3 mt-0"
    style="background-color:   rgb(31, 108, 141);color: white ;border-radius: 15px;width:100%">
    © 2023 :
    <a class="" href="https://mdbootstrap.com/" style="color: white;margin-right:20px ;">مركز طب الاسره</a>
  </div>
</footer>
  <!--نهايه الفوتر -->

  {% endblock %}